{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mi Curriculum</title>
  <link rel="stylesheet" href="{% static 'pagina/style.css' %}">
  
</head>
<body>
  <div class="container">
    <div class="left-column">
      <div class="profile-photo">
        <img src="https://img.freepik.com/vector-premium/logotipo-kpj-letra-kpj-diseno-logotipo-carta-kpj-iniciales-kpj-vinculado-circulo-monograma-mayusculas-logotipo-kpj-tipografia-negocio-tecnologico-marca-inmobiliaria_229120-132068.jpg" alt="Foto de perfil">
      </div>
      <h1>Kellean <span>Palacios Johnson</span></h1>
      <p class="title">Operaciones de Restaurantes</p>

      <div class="contact-info">
        <p>📞 +56 123 456 789</p>
        <p>✉️ kellean@gmail.com</p>
        <p>🏠 Quilin 123, Macul</p>
      </div>

      <section>
        <h2>Perfil</h2>
        <p>Profesional con sólida experiencia en gestión de restaurantes, especializado en optimizar procesos operativos y garantizar altos estándares de calidad y servicio. Lidera equipos multidisciplinarios, asegurando el cumplimiento de objetivos comerciales y operativos. Supervisa inventarios, costos, logística y atención al cliente. Enfocado en la mejora continua, eficiencia y satisfacción del cliente</p>
      </section>
      <br>
       <section>
        <h2>Habilidades y Controles</h2>
        <ul>
          <li>Selección de talentos</li>
          <li>Control de Inventarios</li>
          <li>Administración de personal</li>
          <li>Análisis de Ventas</li>
          <li>RRHH</li>
        </ul>
      </section>
      <br>
      <section>
        <h2>Habilidades Blandas</h2>
        <ul>
          <li>Comunicación</li>
          <li>Fiabilidad</li>
          <li>Ética laboral</li>
          <li>Confidencialidad</li>
          <li>Resolución de problemas</li>
          <li>Pensamiento Crítico</li>
          <li>Motivación</li>
        </ul>
      </section>
 
    </div>

    <div class="right-column">
      <section>
        <br>
        <h2 class="TextoColumnaGris">Educación</h2>
        <p><strong>Sistemas Informáticos</strong>
           <br>UPC-Peru (2007 - 2010)</p>
        <p><strong>Analista Programador</strong>
           <br>INACAP (2024 - 2025)</p>
      </section>
      
      <section>
        <br>
        <h2 class="TextoColumnaGris">Experiencia Laboral</h2>
        <p><strong>Gerente de Restaurante</strong>
           <br>Pizza Hut - KFC Peru (2000 - 2007)</p>
        <p><strong>Gerente de Restaurante</strong>
           <br>Cala Restaurante y Lounge (2007 - 2013)</p>
        <p><strong>Gerente Operaciones</strong>
           <br>Grupo Valerio Chile (2021 - Actualidad)</p>
      </section>

      <section>
        <br>
        <h2 class="TextoColumnaGris">Software Restaurantes</h2>
        <p><strong>Toteat</strong>
           <br>Punto de Venta, Control Materia Prima</p>
        <p><strong>Micros Fidelio</strong>
           <br>Punto de Venta, Control Materia Prima</p>
      </section>
    </div>
  </div>
</body>
</html>
